* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {

    margin: 0 auto;
    text-align: center;
    font-family: "monterrat-regular";
    line-height: 2;

}

@font-face{
    src:url(../fonts/Montserrat-Black.otf);
    font-family: "montserrat-black";
}
@font-face{
    src:url(../fonts/Montserrat-Regular.otf);
    font-family: "monterrat-regular";
}
@font-face{
    src:url(../fonts/Montserrat-Light.otf);
    font-family: "monterrat-light";
}
@font-face{
    src:url(../fonts/Montserrat-Bold.otf);
    font-family: "monterrat-bold";
}


                /*header*/

header .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    width: 100%;

}

header .container a {

    text-decoration: none;
    color: black;

}

header .container a img {

    margin-right: 10px;

}

header .container > a {

    display: flex;
    flex-direction: column;
    align-items: center;/*centers the logo and the text in header*/

}

header .container > a span {

    font-family: "monterrat-regular";
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 10px auto;
    
}

    /*Nav*/

header .container nav {

    width: 40%;
    display: flex;
    flex-direction: column;

}

header .container nav a {

    font-family: "monterrat-light";
    font-size: 2rem;
    margin: 10px 5px;

}

#booking-section .container {

    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-color: khaki;
    background-position: top-center;
    background-size: 100%, 50%;
    padding:  20px;

}

#booking-form {

    display: flex;
    flex-direction: column;
    background-color:white;
    width: 80%;
    border-radius: 5px;
    margin: 0px auto;
    padding: 1px;

}

legend {

    font-size: 2rem;
    color:black;
    font-family: "monterrat-bold";
    margin: 30px auto;
    border-bottom: 1px solid rgba(179, 179, 179, 0.493);
    width: 90%;
}

.input-flex {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    text-align: left;
    font-family: "monterrat-bold";

}

input {

    text-indent: 10px;
    width:100%;
    margin: 5px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(169, 169, 169, 0.267);
    background-color: rgba(141, 141, 141, 0.24);
}

textarea {
    
    padding-top: 10px;
    text-indent: 10px;
    width: 100%;
    margin: 5px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(169, 169, 169, 0.267);
    background-color: rgba(141, 141, 141, 0.24);
    resize: none;
    
}

button[type=submit] {

    color: white;
    background-color: rgb(49, 202, 49);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family:  "monterrat-regular";
    height: 50px;
    width: 120px;
    margin: 0 auto;
    border-style:none;
    border-radius: 5px;
    margin: 5px auto 20px;
}

                /*FOOTER*/

footer{

    background-color:  #212121;
    

}

footer .container {

    width: 90%;
    padding: 50px;
    margin: 0 auto;

}

footer .container > a span {

    color: rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    font-family: "monterrat-regular";

}

footer .container a {

    color: white;
    text-decoration: none;
    font-size: 2rem;

}

footer .container li {

    color: white;
    font-size: 2rem;

}

                /*Tablet min-width=768px*/

@media screen and (min-width: 768px ) {


    footer .container{

        display: flex;
        justify-content: space-around;

    }

    footer .container ul{

        display: flex;
        justify-content: space-around;

    }

    li {
        margin-left: 30px;
    }

}

                /*Desktop min-width=1025*/


@media screen and ( min-width: 1025px ) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

        /*header*/

    header .container, header .container > a, header .container nav {

        flex-direction: row;

    }

    header .container {

       justify-content: space-around;
       max-width: 80%;
       margin: 0 auto;

    }

    header .container nav {

        justify-content: flex-end;

    }

    header .container nav a:hover {

        padding: 5px;
        width: 100px;
        border-radius: 5px;
        color: white;
        background-color: #ff9d00;
        transition: all 0.3s linear 0s

    }

        /*Main*/
    
    #booking-section .container form{
        max-width: 40% 
    }

        /*FOOTER*/
     
    footer .container {

        max-width: 80%;
        padding: 20px 0;

    }    

}